<!doctype html>
<html>
  <head>
    <title>Welcome to My Forum</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About my forum</h1>
    <!-- the a hrefs link the words to the relevant html pages -->
    <p>You can<a href="/register">register</a>with us
      or if you're already a member and you want to create a post head to the<a href="/addpost">add posts</a>page.
    </p>
    <p>You can also search for<a href="/usersearch">users,</a><a href="/topicsearch">topics</a>and any specific<a href="/search">posts</a>.
    </p>
  </body>
</html>
