<!doctype html>
<html>
  <head>
    <title>Welcome to My Forum</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>about my forum</h1>
  </body>
</html>
