<!doctype html>
<html>
  <head>
    <title>Welcome to My Forum</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to My Forum</h1>
    <!-- this is the index page that displays links to all the other html pages -->
    <p><a href="about">About</a></p>
    <p><a href="register">Register</a></p>
    <p><a href="posts">List Posts</a></p>
    <p><a href="search">Search for a Post</a></p>
    <p><a href="addpost">Add a post</a></p>
    <p><a href="topics">Topics</a></p>
    <p><a href="topicsearch">Search for a topic</a></p>
    <p><a href="users">Users</a></p>
    <p><a href="usersearch">Search for a User</a></p>
 
  </body>
</html>
