<!doctype html>
<html>
  <head>
    <title>Welcome to My Forum</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Posts</h1>
    <!-- this html displays all the posts and their related topic names next to it -->
    <ul>
        <% posts.forEach(function(post){%> 
        <li>"<%=post.text %>": <%=post.topicname %></li>
        <% }) %>
    </ul>
  </body>
</html>
