<!doctype html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Register</h1>
    <form method="POST" action="/registered">
        <p>Name: <input id="name" type="text" name="name" value="" /></p><!--user's first name-->
        <p>Username: <input id="username" type="text" name="username" value="" /></p><!--the user's last name-->
        <p>Email: <input id="email" type="email" name="email" value="" /></p><!--the user's email address-->
        <input type="submit" value="Register" />
        <input type="reset" value="Reset">
      </form>
  </body>
</html>