<!doctype html>
<html>
  <head>
    <title>Search topic</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search for a topic</h1>
    <form action="/topicsearch-result" method="GET">
      <p>What topic are you looking for?</p>
      <input id="search-box" type="text" name="keyword" value="">
      <!--when the user inputs a search into the box it is fetched and the topics similar to the search are listed-->
      <input type="submit" value="Search" >
    </form>
  </body>
</html>