<!doctype html>
<html>
  <head>
    <title>Welcome to My Forum</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search Results in</h1>
    <!-- the results of the user's search is displayed with the relevant topic name -->
    <h2>Your topic search results matched to:</h2>
    <ul>
      <% topics.forEach(function(topic) { %>
        <li><%= topic.topicname %></li>
      <% }) %>
    </ul>
  </body>
</html>
