<!doctype html>
<html>
<head>
    <title>Welcome to My Forum</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <h1>Topics</h1>
    <!-- the topics are listed and each topic a href which takes it to another html which lists all the posts relevant to that topic -->
    <ul>
        <% topics.forEach(function(topic) { %>
            <li><a href="/topic/<%= topic.topic_id %>"><%= topic.topicname %></a></li>
        <% }) %>
    </ul>
</body>
</html>
