<!doctype html>
<html>
  <head>
    <title>Welcome to My Forum</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search Results in</h1>
    <h2>Your username search results matched to:</h2>
    <ul>
      <% users.forEach(function(user) { %>
        <li><%= user.username %></li>
      <% }) %>
    </ul>
  </body>
</html>
