<!doctype html>
<html>
  <head>
    <title>Search User</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search for a user</h1>
    <!-- this form allows the user to input some data to filter through posts and find relevant data -->
    <form action="/usersearch-result" method="GET">
      <p>Who is the user you are looking for?</p>
      <input id="search-box" type="text" name="keyword" value="">
      <!--when the user inputs a search into the box it is fetched and the usernames similar to the search are listed-->
      <input type="submit" value="Search" >
    </form>
  </body>
</html>